table {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: $font-secondary-reg;
}

table, tr, td {
  border: 1px solid rgb(212, 212, 212);
}

th, td {
  padding: 6px;
}

th {
  background-color: rgb(53, 53, 53);
  color: #fff;
  border: 1px solid rgb(116, 116, 116); 
}

tr:nth-child(even) {
  background-color: #f7f7f7
}
