/* Breakpoints
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

$sm: 720px;
$lg: 824px;

/* Fonts
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

$font-primary-reg: 'fg-book';
$font-primary-med: 'fg-med';
$font-primary-demi: 'fg-demi';
$font-secondary-light: 'plex-light';
$font-secondary-reg: 'plex-reg';
$font-secondary-italic: 'plex-italic';
$font-secondary-semi: 'plex-semi';

/* Colors
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

$color-primary: #2496e2;
$color-primary-border: #1b7fc2;
// $color-grayscale: 
/* Imports
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

@import "imports/type/fg.scss";
@import "imports/type/plex.scss";
@import "imports/fluid-type.scss";
@import "imports/syntax-hl.scss";
@import "imports/media-queries.scss";
@import "imports/tables.scss";

/* Base 
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 900px) {
  html {
    margin-left: calc(100vw - 100%);
  } // stops scroll bar from shifting content
}


html, body {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box; 
  font-family: $font-primary-reg;
  @include fluid-type(16px, 19px);
  @include sm-screen {
    margin-top: 8px;
  }
}

*, *:before, *:after { box-sizing: inherit; } 
article, aside, footer, header, nav, section { display: block; }

.forge-container {
  display: flex;
  justify-content: center;
}

.forge-content {
  max-width: $lg;
  width: 100%;
}

textarea, input, button, a { 
  outline: none; 
  -webkit-tap-highlight-color: transparent;
}

tt, code, kbd, samp, pre {
  font-family: Menlo,Monaco,Consolas,"Courier New";
  font-size: 15px;
  white-space: pre-wrap;
}

ul, li {
  font-family: $font-secondary-reg;
}

blockquote {
  margin-left: 22px;
}

blockquote p {
  border-left: 4px solid #cacaca;
  padding-left: 8px;
  color: $color-primary;
  @include fluid-type(18px, 22px);
  font-family: $font-secondary-semi;
}

figure {
  margin: 0;
}

figure h4 {
  font-style: italic;
  color: $color-primary;
  font-size: 16px;
  font-family: $font-secondary-italic;
}

img {
  width: 100%; 
  height: auto
}

hr {
  border: 0;
  border-top: 1px solid #c9c9c9;
}

/* Typography
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

@mixin links ($link, $visited, $hover, $active) {
  & {
      color: $link;
      text-decoration: none;
      &:visited {
          color: $visited;
      }
      &:hover {
          color: $hover;
      }
      &:active, &:focus {
          color: $active;
      }
  }
}

a {
  @include links(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
  outline:0;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; text-decoration: none; margin:0; font-family: $font-primary-reg;}
h2 { 
  @include fluid-type(30px, 40px);
  color: $color-primary;
  & a {
    color: $color-primary;
  }
  & a:hover {
    color: $color-primary;
  }
  & a:visited {
    color: $color-primary;
  }
  @include sm-screen {
    text-align: center;
  }
}
h3 { 
  @include fluid-type(16px, 18px); 
  color: #848484; 
  @include sm-screen {
    width: 100%;
    text-align: center;
  }
}
h4 { @include fluid-type(21px, 24px); }
h5 { @include fluid-type(17px, 19px); }

p {
  font-family: $font-secondary-reg;
  letter-spacing: 0.1px;
}

/* Navigation Bar */
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.forge-navigation {
  text-decoration: none;
  margin-bottom: 34px;
  display: flex;
  @include sm-screen {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.forge-navigation ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  @include sm-screen {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.forge-navigation > ul.forge-navigation-items > li:first-child > a {
  padding-left:0px;
  @include sm-screen {
    padding-left: 10px;
  }
}

.forge-navigation a, .forge-navigation a:visited {
  display: inline-block;
  color: #717171;
  padding: 16px 10px 13px 10px;
  text-transform: uppercase;
  font-family: $font-primary-demi;
  font-size: 16px;
  transition: ease-in-out, color .10s ease-in-out;
  @include sm-screen {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.forge-navigation a.active {
  color: $color-primary;
  &:hover {
    color: $color-primary;
  }
}

.forge-navigation a:hover {
  color: $color-primary;

}

.forge-navigation .forge-tags .utiltiy-arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; 
  border-top: 6px solid #717171;
  display: inline-block;
  padding-bottom: 3px;
  margin-left: 4px;
}
.forge-navigation a:hover .utiltiy-arrow-down {
  border-top: $color-primary 6px solid

}

/* Navigation Bar: Tags Dropdown */
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.forge-navigation .forge-tags {
  position: relative;
}

.forge-navigation .forge-tags #forge-tags-button { }

.forge-navigation .forge-tags .forge-tags-dropdown {
  min-width: 152px;
  display: inline-block;
  position: absolute;
  left:62%;
  transform: translate(-62%, 0);
  top: 44px;
  background-color: #fff;
  border: 1px solid #B9B9B9;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  padding: 10px 14px 10px 14px;
  visibility: hidden;
}

.forge-navigation .forge-tags .forge-tags-dropdown:after {
  content: '';
  display: block;
  position: absolute;
  top:-6px;
  left:50%;
  transform: translate(-50%, 0);
  width: 10px;
  height: 10px; 
  background: #FFFFFF;
  border-top:1px solid #b9b9b9;
  border-left:1px solid #b9b9b9;
  transform: rotate(45deg);
}

.forge-navigation .forge-tags .forge-tags-dropdown li {
  display: flex;
  align-items: center;
  padding:0;
  margin-bottom: 4px;
}

.forge-navigation .forge-tags .forge-tags-dropdown li:last-child {
  margin-bottom:0;
}

.forge-navigation .forge-tags .forge-tags-dropdown li a {
  display:flex;
  flex: 1;
  text-transform: none;
  font-family: $font-primary-reg;
  padding: 0;
}

.forge-navigation .forge-tags .forge-tags-dropdown li a .forge-tags-dropdown-coutner {
  color: #fff;
  border: 1px solid $color-primary-border;
  background-color: #43a9ec;
  border-radius: 4px;
  margin-left:auto;
  padding: 1px 5px 0px 5px;
  font-size: 14px;
}

.forge-navigation .forge-tags .forge-tags-dropdown li a .forge-tags-dropdown-tag {
  display: inline-block;
  margin-right: 4px;
  margin-right: 12px;
}

/* Navigation Bar: Newsletter Form */
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.forge-navigation #forge-news-form {
  margin-left: auto;
  @include sm-screen {
    margin-left: 0;
  }
}

.forge-navigation #forge-news {
  display: flex;
}

.forge-navigation #forge-news label input {
  border-radius: 4px 0px 0px 4px;
  border: solid 1px;
  border-color: #ACACAC;
  padding: 14px 21px 13px 21px;
  border-right: 0;
  font-size: 17px;
  width: 305px;
  display: inline-block;
  font-family: $font-primary-reg;
  transition: ease-in-out, border-color .15s ease-in-out;
  @include sm-screen {
    font-size: 13px;
    width: 203px;
    padding: 15px 12px 13px 10px;
  }
}

.forge-navigation #forge-news label input::placeholder {
  color: rgb(180, 180, 180);
}

.forge-navigation #forge-news label input:focus {
  border-color: rgb(10, 10, 10);
}

// .forge-navigation #forge-news label input:valid {
//   background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z' fill='rgb(0, 255, 115)' /></svg>") 95% 50% no-repeat;
// }

// .forge-navigation #forge-news label input.required:invalid {
//   background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z' fill='rgb(255, 0, 85)'/></svg>") 95% 50% no-repeat;
// }

.forge-navigation #forge-news button {
  color: #fff;
  border-radius: 4px;
  border: solid 1px $color-primary-border;
  font-size: 19px;
  background-color: $color-primary;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  padding: 12px 21px 12px 21px;
  font-family: $font-primary-reg;
  @include sm-screen{
    font-size: 16px;
  }
}

/* List of Articles
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.forge-articles article {
  margin-bottom: 44px;
  @include sm-screen {
    margin-bottom: 26px;
  }
}

.forge-articles p {
  line-height: 1.45;
  margin-bottom: 26px;
  @include sm-screen {
    margin-bottom: 18px;
  }
}

.forge-articles article nav.forge-articles-readmore {
  @include sm-screen {
    text-align: center;
  }
}

.forge-articles article nav.forge-articles-readmore a {
  color: #717171;
  font-family: $font-primary-med;
  transition: ease-in-out, color .10s ease-in-out;
}

.forge-articles article nav.forge-articles-readmore a:hover {
  color: $color-primary;
}

/* Single Article
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.forge-article article {
  margin-bottom: 44px;
}

.forge-article nav.forge-article-navigation {
  display: flex;
}

.forge-article nav.forge-article-navigation a {
  font-family: $font-primary-demi;
  text-transform: uppercase;
  color: #8d8d8d;
  font-size: 16px;
  display: inline-block;
}

.forge-article nav.forge-article-navigation .forge-article-navigation-older-alt {
  border-right: 1px solid #acacac;
  padding-right: 8px;
  margin-right: 8px;
}
.forge-article nav.forge-article-navigation .forge-article-navigation-older-newer {}

.forge-article nav.forge-article-navigation .forge-article-navigation-back {
  margin-left: auto;
}

.forge-article ul {
  list-style-type: initial;
}

.forge-article p {
  line-height: 1.45
}

.forge-article article p a {
  color: $color-primary;
  text-decoration: underline;
}

.forge-article .forge-article-navigation a {
  transition: ease-in-out, color .10s ease-in-out;
  &:hover {
    color: $color-primary;
  }
}

/* All Articles
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.forge-meta-article {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  @include sm-screen {
   justify-content: center;
  }
}

.forge-meta-article .forge-meta-article-tags {
  display: flex;
  margin-left: auto;
  @include sm-screen {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }
}

.forge-meta-article .forge-meta-article-tag {
  color: #585858;
  border: solid 3px $color-primary;
  border-radius: 5px;
  padding: 2px 10px 2px 10px;
  @include fluid-type(13px, 15px);
  font-family: $font-primary-med;
  margin-left: 4px;
  transition: ease-in-out, background-color .10s ease-in-out;
  &:hover {
    background-color: $color-primary;
    color: #fff;
  }
  @include sm-screen {
    margin-top: 4px;
    &:first-child {
      margin-left: 0;
    }
  }
}

/* Summary
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.forge-summary {
  margin-bottom: 44px;
}

.forge-summary ul {
  list-style-type: none;
  padding: 0;
  margin:0;
}

.forge-summary .forge-summary-date {
  display:flex;
  align-items: center;
}

.forge-summary .forge-summary-date .forge-summary-year {
  margin-left: auto;
  color: #848484;
}
.forge-summary .forge-summary-date .forge-summary-month {
  @include fluid-type(40px, 48px);
  font-family: $font-primary-med;
  color: $color-primary;
}

.forge-summary .forge-summary-article li {
  display: flex;
  border-bottom: solid 1px #cacaca;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: $font-primary-reg;
  & a {
    transition: ease-in-out, color .10s ease-in-out;
  }
  & a:hover {
    color: $color-primary;
  }
 }

.forge-summary .forge-summary-article li:first-child {
  border-top: solid 1px #cacaca;
}

.forge-summary .forge-summary-article li:last-child {
  margin-bottom: 16px;
}

.forge-summary .forge-summary-article li time {
  margin-left: auto;
  background-color: $color-primary;
  border: solid 2px $color-primary-border;
  color: #fff;
  border-radius: 100px;
  font-size: 14px;
  padding: 4px;
}

/* Common
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

.forge-pagintation {
  display:flex;
  font-family: $font-primary-demi;
  text-transform: uppercase;
  font-size: 16px;
  color: #8d8d8d;
}

.forge-pagintation .forge-pagination-page {
margin-left: auto;
}

.forge-pagintation .forge-pagination-navigation {}

.forge-pagintation .forge-pagination-navigation  .forge-pagination-navigation-older,
.forge-pagintation .forge-pagination-navigation  .forge-pagination-navigation-newer  {
  transition: ease-in-out, color .10s ease-in-out;
  color: #8d8d8d;
}

.forge-pagintation .forge-pagination-navigation  .forge-pagination-navigation-older:hover,
.forge-pagintation .forge-pagination-navigation  .forge-pagination-navigation-newer:hover  {
  color: $color-primary;
}

.forge-pagintation .forge-pagination-navigation  .forge-pagination-navigation-older {}
.forge-pagintation .forge-pagination-navigation  .forge-pagination-navigation-older-alt {
  border-right: 1px solid #acacac;
  padding-right: 4px;
  margin-right: 8px;
}

.forge-pagintation .forge-pagination-navigation  .forge-pagination-navigation-newer {}
.forge-pagintation .forge-pagination-navigation  .forge-pagination-navigation-newer-alt {}

/* Utility
/* ++++++++++++++++++++++++++++++++++++++++++++++ */

@mixin mouse-select-color { background: $color-primary; color: #fff; }
::selection               { @include mouse-select-color; }

.forge-utility-visible {
  visibility: visible !important;
}
