$font-primary: 'Helvetica';
$font-secondary: 'Noto Sans';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: $font-primary;
  font-size: 18px;
}

@mixin links ($link, $visited, $hover, $active) {
  & {
      color: $link;
      &:visited {
          color: $visited;
      }
      &:hover {
          color: $hover;
      }
      &:active, &:focus {
          color: $active;
      }
  }
}

a {
  @include links(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
}

*, *:before, *:after { box-sizing: inherit; } 
article, aside, footer, header, nav, section { display: block; }

h1, h2, h3, h4, h5, h6 { font-weight: 100; }
h1 { font-size: 40px; }
@for $i from 1 through 6 {
  h#{$i} {
  }
}

p {
  font-family: $font-secondary;
  font-size: 15px;
  letter-spacing: 0.1px;
}

@mixin mouse-select-color { background: #000; color: #fff; }
::selection               { @include mouse-select-color; }