{{ define "main" }}

  <nav>
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
      <a href="/tags/{{ $name | urlize }}">{{ $name | humanize }} ({{ $taxonomy.Count }})</a>
    {{end}}
  </nav>

  {{ partial "search.html" . }}
  
  <section>
    <h1>Posts</h1>
    {{ range (.Paginator 5).Pages }}
      <article>
        <header>
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          <h3>{{.Date.Format "2006-01-02"}}</h3>
        </header>
        <p>
          {{ .Summary }}
        </p>
        {{ if .Truncated }}
        <nav>
          <a href="{{ .RelPermalink }}">Read More…</a>
        </nav>
        {{ end }}
      </article>
    {{ end }}
  </section>
  
  <nav>
    {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}">Previous Page</a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}">Next Page</a>
    {{ end }}
  </nav>

{{ end }}





