{{ define "main" }}
  <section class="forge-articles">
    {{ range (.Paginator 5).Pages }}
      <article>
        <header>
          <h2>{{ .Title }}</h2>
          <div class="forge-meta-article">
            <h3>{{.Date.Format "January 2, 2006"}}</h3>
            <span class="forge-meta-article-tags">
            {{ range .Params.tags }}
              <a class="forge-meta-article-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            </span>
          </div>
        </header>
        <p>
          {{ .Summary }}
        </p>
        <nav class="forge-articles-readmore">
          <a href="{{ .RelPermalink }}">Read More</a>
        </nav>
      </article>
    {{ end }}
  </section>
  {{ partial "pagination.html" . }}
{{ end }}





