{{ define "title" }}
  {{ .Title }} – {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <section class="forge-article">
    <article>
      <header>
        <h2>{{ .Title }}</h2>
        <span class="forge-meta-article">
          <h3>{{.Date.Format "January 2, 2006"}}</h3>
          <span class="forge-meta-article-tags">
          {{ range .Params.tags }}
            <a class="forge-meta-article-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}
          </span>
        </span>
      </header>
      {{ .Content }}
    </article>
    <nav class="forge-article-navigation">
      {{ if .PrevInSection }}
        <a class="{{ if and .PrevInSection .NextInSection }}forge-article-navigation-older-alt{{ end }}" href="{{.PrevInSection.Permalink}}">
          Older {{ if not .NextInSection }}Article{{ end }}
        </a>
      {{ end }}
      {{ if .NextInSection }}
        <a class="{{ if and .PrevInSection .NextInSection }}forge-article-navigation-newer-alt{{ end }}" href="{{.NextInSection.Permalink}}">
          Newer {{ if not .PrevInSection }}Article{{ end }}
        </a>
      {{ end }}
      <a class="forge-article-navigation-back" href="{{.Site.BaseURL}}">
        Back to Articles
      </a>
    </nav>
  </section>
{{ end }}