<nav class="forge-navigation">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li><a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{.URL}}">{{ .Name }}</a></li>
    {{ end }}
    <li>
      <ul class="forge-tags">
        <li><a id="forge-tags-button" href="#">Tags<span class="utiltiy-arrow-down"></span></a>
          <ul class="forge-tags-dropdown">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
              <li>
                <a href="/tags/{{ $name | urlize }}">
                  <span class="forge-tags-dropdown-tag">{{ $name | humanize }}</span>
                  <span class="forge-tags-dropdown-coutner">{{ $taxonomy.Count }}</span>
                </a>
              </li>
            {{end}}
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="/rss">RSS</a></li>
    <li id="forge-news-form">
      <form name="forge-news" id="forge-news" netlify>
        <label style="display:none">anti-spam<input name="anti-spam"></label>
        <label><input type="email" name="email" placeholder="Enter email to recieve newsletter" autocomplete="off" required></label>
        <button type="submit">Send</button>
      </form>
    </li>
  </ul>
</nav>