{{ define "main" }}
  {{ $paginator := .Paginate ((where .Site.Pages "Kind" "page").GroupByDate "2006-01") -}}
  <section>
    <ul>
      {{- range $paginator.PageGroups }}
      <li>{{ .Key }}</li>
        {{- range .Pages }}
        <ul>
          <li>
            <a href="{{ .Permalink | relURL }}">{{ .Title }}</a>
            <ul>
              {{- if isset .Params "categories" }}
              {{- range .Params.categories }}
              <li>
                <a href="{{ "/" | relURL }}categories/{{ . | urlize }}/">{{ . }}</a>
              </li>
              {{- end }}
              {{- end }}
              {{- if isset .Params "tags" }}
              {{- range .Params.tags }}
              <li>
                <a href="{{ "/" | relURL }}tags/{{ . | urlize }}/">{{ . }}</a>
              </li>
              {{- end }}
              {{- end }}
            </ul>
            <time>{{ .Date.Format (default "January 2, 2006" $.Site.Params.dateFormat) }}</time>
          </li>
        </ul>
        {{- end }}
      </li>
      {{- end }}
    </ul>
  </section>
  {{ template "_internal/pagination.html" . }}
{{ end }}